

h1 {
    background-color: black;
    font-family: "righteous", sans-serif;
    color: salmon;
    text-align: center;
    padding: 35px;
    font-size: 30px;
}

nav {
    background-color: salmon;
    padding: 5px;
    text-decoration: none;
    font: 15px;
    display: block;
    margin-right: 30px;

}