

h1 {
    background-color: black;
    font-family: "righteous", sans-serif;
    color: salmon;
    text-align: center;
    padding: 35px;
    font-size: 30px;
}

nav {
    background-color: salmon;
    padding: 5px;
    text-decoration: none;
    font: 15px;
    display: block;

}

main img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.line {
    border-bottom: 1px solid black;
}

#location-info h3{
    font-family: "righteous", sans-serif;
    font-size: 22px;
    margin: 28px;
}

#location-info p {
    font-family: 'Times New Roman', Times, serif;
    text-indent: 45px; 
    margin-top: 5px;
    color: #505255;
}


footer {
    background-color: lightgray;
    margin-top: 35px;
    padding: 22px;
    text-align: center;


}